header
  include nav
  .showcase
    h1.main-heading
      | MEAL PLANS.
      br
      |         FOR 
      span.developer EVERYONE
    .btns
      a.btn(href='') Book Now
      a.btn.btn-empty(href='') Show me more
